<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animations</key>
    <dict>
        <key>iron_move_3</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>iron_blue_1.png</string>
                <string>iron_blue_2.png</string>
				<string>iron_blue_3.png</string>
                <string>iron_blue_2.png</string>
            </array>
        </dict>
		<key>iron_move_2</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>iron_yellow_1.png</string>
                <string>iron_yellow_2.png</string>
				<string>iron_yellow_3.png</string>
                <string>iron_yellow_2.png</string>
            </array>
        </dict>
		<key>iron_move_1</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>iron_red_1.png</string>
                <string>iron_red_2.png</string>
				<string>iron_red_3.png</string>
                <string>iron_red_2.png</string>
            </array>
        </dict>
		<key>iron_dead</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>vacom_4.png</string>
				<string>vacom_5.png</string>
				<string>vacom_6.png</string>
				<string>vacom_7.png</string>
            </array>
        </dict>
		<key>iron_child_create</key>
        <dict>
            <key>delay</key>
            <real>0.5</real>
            <key>frames</key>
            <array>
                <string>iron_child_1.png</string>
				<string>iron_child_2.png</string>
				<string>iron_child_3.png</string>
				<string>iron_child_4.png</string>
				<string>iron_child_5.png</string>
            </array>
        </dict>
		<key>iron_child_move</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>iron_child_6.png</string>
				<string>iron_child_7.png</string>
				<string>iron_child_8.png</string>
				<string>iron_child_9.png</string>
				<string>iron_child_10.png</string>
				<string>iron_child_11.png</string>
            </array>
        </dict>
		<key>iron_child_dead</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>vacom_4.png</string>
				<string>vacom_5.png</string>
				<string>vacom_6.png</string>
				<string>vacom_7.png</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
