<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_man_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,100},{90,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{90,106}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>black_man_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,174},{90,104}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{90,104}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>black_man_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,266},{90,102}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{90,102}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>black_man_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,192},{86,102}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>fireball_create_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{84,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,88},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{84,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,106}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,186},{84,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,908},{84,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,826},{82,74}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,902},{84,82}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,270},{84,78}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,902},{84,86}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,828},{84,72}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>girl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>girl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>player_black_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,272},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,280},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,644},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,646},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,358},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,452},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,368},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,174},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,356},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,750},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,756},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,826},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,832},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_red_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,656},{92,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,376},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,454},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,464},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,472},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,548},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,738},{86,94}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,740},{86,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,664},{90,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,550},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,550},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,560},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,568},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{88,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,918},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>players.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12b77767089d2d216cce97c57c82120d:9f22caebb159f6560118ac585e69cdd5:a538067eba60a937de15ee9eba6563d6$</string>
            <key>textureFileName</key>
            <string>players.png</string>
        </dict>
    </dict>
</plist>
