<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_black_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,290},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,290},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,386},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,462},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,478},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,474},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,538},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_red_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,384},{92,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,194},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,194},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,194},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{86,94}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,386},{86,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,384},{90,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,194},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,194},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,290},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,290},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,476},{88,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,554},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,566},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>players.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e6f86a70e09d1e37c9dcb790d697f7f:0a102529d4d1f640789ebdba4f45bf1e:a538067eba60a937de15ee9eba6563d6$</string>
            <key>textureFileName</key>
            <string>players.png</string>
        </dict>
    </dict>
</plist>
