<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireball_create_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{84,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,106}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,88},{84,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,648},{84,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,734},{82,74}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_create_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,786},{84,82}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{84,78}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,716},{84,86}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>fireball_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,716},{84,72}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>player_black_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,88},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,88},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,88},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,376},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,376},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,174},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,184},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_black_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,558},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,564},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,634},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,564},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,640},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_red_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,470},{92,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,270},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,184},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,184},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,280},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,366},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,280},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,560},{86,94}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{86,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,472},{90,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,280},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,280},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,376},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,462},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_red_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,470},{88,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>player_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,710},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>player_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,640},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>players.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbf99d5d5ef3327af6fc016e38f4a00b:23be5ef6f69c07bf19623fe3f7b2cad8:a538067eba60a937de15ee9eba6563d6$</string>
            <key>textureFileName</key>
            <string>players.png</string>
        </dict>
    </dict>
</plist>
