<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animations</key>
    <dict>
        <key>player_move_left</key>
        <dict>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <array>
                <string>player_left_1.png</string>
				<string>player_left_3.png</string>
				<string>player_left_2.png</string>
				<string>player_left_3.png</string>
            </array>
        </dict>
		 <key>player_move_down</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>player_down_1.png</string>
				<string>player_down_3.png</string>
				<string>player_down_2.png</string>
				<string>player_down_3.png</string>
            </array>
        </dict>
		 <key>player_move_up</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>player_up_1.png</string>
				<string>player_up_3.png</string>
				<string>player_up_2.png</string>
				<string>player_up_3.png</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
