<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doctor_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>doctor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>doctor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,368},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>doctor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,486},{114,134}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{114,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>doctor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,368},{116,134}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{116,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>doctor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>dracon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,186},{180,224}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{180,224}}</string>
                <key>sourceSize</key>
                <string>{210,240}</string>
            </dict>
            <key>dracon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,224}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{184,224}}</string>
                <key>sourceSize</key>
                <string>{210,240}</string>
            </dict>
            <key>dracon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{182,224}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{182,224}}</string>
                <key>sourceSize</key>
                <string>{210,240}</string>
            </dict>
            <key>dracon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,498},{78,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{78,76}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dracon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,509},{70,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{70,68}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dracon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{50,50}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>dracon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,54},{50,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{50,44}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>human_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,188},{84,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>human_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,295},{84,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>human_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,402},{84,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startingscene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d21096367031c6e93a3496c52d93c7:6ee892f13bbe845fe10f53a1179d4572:bdc14cef9d3325f0818968aca05723e9$</string>
            <key>textureFileName</key>
            <string>startingscene.png</string>
        </dict>
    </dict>
</plist>
