<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animations</key>
    <dict>
        <key>ball_move</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>ball_1.png</string>
                <string>ball_2.png</string>
				<string>ball_3.png</string>
				<string>ball_0.png</string>
            </array>
        </dict>
		<key>ball_dead</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>ball_4.png</string>
                <string>ball_5.png</string>
				<string>ball_6.png</string>
				<string>vacom_5.png</string>
				<string>vacom_6.png</string>
				<string>vacom_7.png</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
