<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animations</key>
    <dict>
        <key>player_white_move_left</key>
        <dict>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <array>
                <string>player_white_left_1.png</string>
				<string>player_white_left_3.png</string>
				<string>player_white_left_2.png</string>
				<string>player_white_left_3.png</string>
            </array>
        </dict>
		 <key>player_white_move_down</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>player_white_down_1.png</string>
				<string>player_white_down_3.png</string>
				<string>player_white_down_2.png</string>
				<string>player_white_down_3.png</string>
            </array>
        </dict>
		 <key>player_white_move_up</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>player_white_up_1.png</string>
				<string>player_white_up_3.png</string>
				<string>player_white_up_2.png</string>
				<string>player_white_up_3.png</string>
            </array>
        </dict>
		<key>player_white_dead</key>
        <dict>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <array>
                <string>player_red_dead_1.png</string>
				<string>player_red_dead_2.png</string>
				<string>player_red_dead_3.png</string>
				<string>player_red_dead_4.png</string>
				<string>player_red_dead_5.png</string>
				<string>player_red_dead_6.png</string>
				<string>player_red_dead_7.png</string>
				<string>player_red_dead_8.png</string>
            </array>
        </dict>
		
		
		<key>player_black_move_left</key>
        <dict>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <array>
                <string>player_black_left_1.png</string>
				<string>player_black_left_3.png</string>
				<string>player_black_left_2.png</string>
				<string>player_black_left_3.png</string>
            </array>
        </dict>
		 <key>player_black_move_down</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>player_black_down_1.png</string>
				<string>player_black_down_3.png</string>
				<string>player_black_down_2.png</string>
				<string>player_black_down_3.png</string>
            </array>
        </dict>
		 <key>player_black_move_up</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>player_black_up_1.png</string>
				<string>player_black_up_3.png</string>
				<string>player_black_up_2.png</string>
				<string>player_black_up_3.png</string>
            </array>
        </dict>
		<key>player_black_dead</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>player_red_dead_1.png</string>
				<string>player_red_dead_2.png</string>
				<string>player_red_dead_3.png</string>
				<string>player_red_dead_4.png</string>
				<string>player_red_dead_5.png</string>
				<string>player_red_dead_6.png</string>
				<string>player_red_dead_7.png</string>
				<string>player_red_dead_8.png</string>
            </array>
        </dict>
		
		<key>player_red_move_left</key>
        <dict>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <array>
                <string>player_red_left_1.png</string>
				<string>player_red_left_3.png</string>
				<string>player_red_left_2.png</string>
				<string>player_red_left_3.png</string>
            </array>
        </dict>
		 <key>player_red_move_down</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>player_red_down_1.png</string>
				<string>player_red_down_3.png</string>
				<string>player_red_down_2.png</string>
				<string>player_red_down_3.png</string>
            </array>
        </dict>
		 <key>player_red_move_up</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>player_red_up_1.png</string>
				<string>player_red_up_3.png</string>
				<string>player_red_up_2.png</string>
				<string>player_red_up_3.png</string>
            </array>
        </dict>
		<key>player_red_dead</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>player_red_dead_1.png</string>
				<string>player_red_dead_2.png</string>
				<string>player_red_dead_3.png</string>
				<string>player_red_dead_4.png</string>
				<string>player_red_dead_5.png</string>
				<string>player_red_dead_6.png</string>
				<string>player_red_dead_7.png</string>
				<string>player_red_dead_8.png</string>
            </array>
        </dict>
		<key>transformation_fireball</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>fireball_create_1.png</string>
				<string>fireball_create_2.png</string>
				<string>fireball_create_3.png</string>
				<string>fireball_create_4.png</string>
				<string>fireball_create_5.png</string>
				<string>fireball_create_6.png</string>
				<string>fireball_create_7.png</string>
				<string>fireball_create_8.png</string>
				<string>fireball_create_9.png</string>
            </array>
        </dict>
		<key>transformation_player</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>fireball_create_9.png</string>
				<string>fireball_create_8.png</string>
				<string>fireball_create_7.png</string>
				<string>fireball_create_6.png</string>
				<string>fireball_create_5.png</string>
				<string>fireball_create_4.png</string>
				<string>fireball_create_3.png</string>
				<string>fireball_create_2.png</string>
				<string>fireball_create_1.png</string>
            </array>
        </dict>
		<key>fireball_move</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>fireball_move_1.png</string>
				<string>fireball_move_2.png</string>
				<string>fireball_move_3.png</string>
				<string>fireball_move_2.png</string>
            </array>
        </dict>
		
		<key>girl_move</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>girl_1.png</string>
				<string>girl_2.png</string>
            </array>
        </dict>
		
		<key>human_cry</key>
        <dict>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <array>
                <string>black_man_5.png</string>
				<string>black_man_6.png</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
