<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animations</key>
    <dict>
        <key>onion_move</key>
        <dict>
            <key>delay</key>
            <real>0.5</real>
            <key>frames</key>
            <array>
                <string>onion_1.png</string>
				<string>onion_0.png</string>
				<string>onion_1.png</string>
				<string>onion_2.png</string>
            </array>
        </dict>
		<key>onion_dead</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>onion_3.png</string>
				<string>onion_4.png</string>
				<string>vacom_5.png</string>
				<string>vacom_6.png</string>
				<string>vacom_7.png</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
