<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animations</key>
    <dict>
        <key>snake_horizontal_tail_3</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>snake_blue_tail_1.png</string>
                <string>snake_blue_tail_2.png</string>
            </array>
        </dict>
		<key>snake_vertical_tail_3</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>snake_blue_tail_4.png</string>
                <string>snake_blue_tail_3.png</string>
				<string>snake_blue_tail_5.png</string>
				<string>snake_blue_tail_3.png</string>
            </array>
        </dict>
		<key>snake_vertical_body_3</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_blue_body_2.png</string>
            </array>
        </dict>
		<key>snake_horizontal_body_3</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_blue_body_1.png</string>
            </array>
        </dict>
		<key>snake_vertical_head_3</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_blue_head_2.png</string>
            </array>
        </dict>
		<key>snake_horizontal_head_3</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_blue_head_1.png</string>
            </array>
        </dict>
		<key>snake_horizontal_tail_2</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>snake_purpure_tail_1.png</string>
                <string>snake_purpure_tail_2.png</string>
            </array>
        </dict>
		<key>snake_vertical_tail_2</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>snake_purpure_tail_4.png</string>
                <string>snake_purpure_tail_3.png</string>
				<string>snake_purpure_tail_5.png</string>
				<string>snake_purpure_tail_3.png</string>
            </array>
        </dict>
		<key>snake_vertical_body_2</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_purpure_body_2.png</string>
            </array>
        </dict>
		<key>snake_horizontal_body_2</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_purpure_body_1.png</string>
            </array>
        </dict>
		<key>snake_vertical_head_2</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_purpure_head_2.png</string>
            </array>
        </dict>
		<key>snake_horizontal_head_2</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_purpure_head_1.png</string>
            </array>
        </dict>
		<key>snake_horizontal_tail_1</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>snake_orange_tail_1.png</string>
                <string>snake_orange_tail_2.png</string>
            </array>
        </dict>
		<key>snake_vertical_tail_1</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>snake_orange_tail_4.png</string>
                <string>snake_orange_tail_3.png</string>
				<string>snake_orange_tail_5.png</string>
				<string>snake_orange_tail_3.png</string>
            </array>
        </dict>	
		<key>snake_vertical_body_1</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_orange_body_2.png</string>
            </array>
        </dict>
		<key>snake_horizontal_body_1</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_orange_body_1.png</string>
            </array>
        </dict>
		<key>snake_vertical_head_1</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_orange_head_2.png</string>
            </array>
        </dict>
		<key>snake_horizontal_head_1</key>
        <dict>
            <key>delay</key>
            <real>10.0</real>
            <key>frames</key>
            <array>
                <string>snake_orange_head_1.png</string>
            </array>
        </dict>
		
		
		<key>snake_dead_head</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>snake_dead_1.png</string>
				<string>snake_dead_2.png</string>
				<string>snake_dead_3.png</string>
				<string>snake_dead_4.png</string>
				<string>snake_dead_5.png</string>
				<string>snake_dead_6.png</string>
				<string>snake_dead_7.png</string>
				<string>snake_dead_8.png</string>
				<string>snake_dead_9.png</string>
            </array>
        </dict>
		
		<key>snake_dead_body</key>
        <dict>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <array>
                <string>snake_dead_body_1.png</string>
				<string>snake_dead_body_2.png</string>
				<string>snake_dead_body_3.png</string>
				<string>snake_dead_body_4.png</string>
				<string>snake_dead_body_5.png</string>
				<string>snake_dead_body_6.png</string>
				<string>snake_dead_body_7.png</string>
				<string>snake_dead_body_8.png</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
